.App {
  text-align: center;
}

.gameboard {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  border: 1px solid black;
  margin: 0 auto;
}

.square {
  height: 198px;
  width: 198px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}
