.App {
  text-align: center;
}

.gameboard {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: 50px;
}

.square {
  height: 198px;
  width: 198px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}

.square-text {
  text-align: center;
  margin-top: 68px;
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: row;
}
